.btn-main {
  height: 40px;
  padding: 12px 14px;
  background: transparent;
  border: 1px solid #202f48;
  border-radius: 9px;
  color: #202f48;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  &:active {
    background: #202f48;
    color: #fff;
  }
}
