.input-main {
  width: 100%;
  height: 40px;
  padding: 0 0 0 34px;
  background: url(../../../assets/search.svg) no-repeat scroll 11px 11px;
  border: 1px solid #d9dadd;
  border-radius: 9px;
  font-size: 14px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    background: url(../../../assets/search_active.svg) no-repeat scroll 11px 11px;
    border: 1px solid #202f48;
    border-radius: 9px;
  }
}
